main .vh100 {
  min-height: 100vh;
}
.logo {
  width: 150px !important;
}
.wd-100p {
  width: 100%;
}
.center-items {
  flex-direction: column;
  align-items: center;
  display: flex;
  justify-content: center;
}
.room-user > div {
margin-top: -15px;
}
.room-user span {
 background: rgb(140, 157, 241);
 color:#fff;
 font-size:14px;
 padding: 5px 20px ;
 border-radius: 10px;
 font-weight: 700;
}

.currentWord {
  text-align: center;
}

.currentWord > span {
  font-size: 6rem;
  font-weight: 900;
}

tbody > tr > td:first-child {
  text-align: center;
}

.disabledSpeech {
  filter: grayscale(100%);
}

.diagnosis > p {
  padding: 3px 10px;
  border-radius: 5px;
  margin-top: 10px;
  font-size: 30px;
  line-height: normal;
  font-weight: 700;
  background: #a3fca0;
}